{%extends "base.html" %}
        {% block body %}
        <div class="main-panel">
          <div class="content-wrapper">
            <div class="page-header">
              <h3 class="page-title">Booking</h3>
              <nav aria-label="breadcrumb">
                {% comment %} <ol class="breadcrumb">
                  <li class="breadcrumb-item"><a href="#">Tables</a></li>
                  <li class="breadcrumb-item active" aria-current="page"> Basic tables </li>
                </ol> {% endcomment %}
              </nav>
            </div>
            <div class="row">
              <div class="col-lg-12 stretch-card">
                <div class="card">
                  <div class="card-body">
                    {% comment %} <h4 class="card-title">Booking</h4> {% endcomment %}
                    <div class="table-responsive">
                      <!-- <a href="/bookingadd/"><button type="button" class="btn btn-sm btn-danger">Add Booking</button></a>  -->
                      <table class="table table-bordered">
                        <thead>
                          <tr>
                            <th><b>Booking id</b></th>
                            <th><b>Customer id</b></th>
                            <th><b>Booking Date</b></th>
                            <th><b>Address</b></th>
                            <th><b>Actions</b></th>
                          </tr>
                        </thead>
                        {%for booking in bookings%}
                        <tr>
                          <td>{{booking.booking_id}}</td>	
                          <td>{{booking.customer_id}}</td>                         
                          <td>{{booking.booking_date}}</td>
                          <td>{{booking.address}}</td>
                          <td><a href="/deletebooking/{{booking.booking_id}}"><button type="button" class="btn btn-primary mr-2">Delete</button></a>
                            <!-- <a href="/bookingupdate/{{booking.booking_id}}"><button type="button" class="btn btn-sm btn-danger">Edit</button></a> -->
                          <a href="/bookingdetail/{{booking.booking_id}}/"><button type="button" class="btn btn-primary mr-2">Details</button></a></td>
                        </tr>
                        {%endfor%}
                      </table>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
          <!-- content-wrapper ends -->
        </div>
        {% endblock%}