{%extends "base.html" %}
        {% block body %}
        <div class="main-panel">
          <div class="content-wrapper">
            <div class="page-header">
              <h3 class="page-title">Item charges </h3>
              <nav aria-label="breadcrumb">
                {% comment %} <ol class="breadcrumb">
                  <li class="breadcrumb-item"><a href="#">Tables</a></li>
                  <li class="breadcrumb-item active" aria-current="page"> Basic tables </li>
                </ol> {% endcomment %}
              </nav>
            </div>
            <div class="row">
              <div class="col-lg-12 stretch-card">
                <div class="card">
                  <div class="card-body">
                    {% comment %} <h4 class="card-title">Booking</h4> {% endcomment %}
                    <div class="table-responsive">
                      <a href="/ichargesadd/"><button type="button" class="btn btn-sm btn-danger">Add Charges</button></a>
                      <table class="table table-bordered">
                        <thead>
                          <tr>
                            <th><b>item charges id </b></th>
                            <th><b>item id</b></th>
                            <th><b>service type</b></th>
                            <th><b>charges</b></th>
                            <th><b>unit id </b></th>
                            <th><b>service id  </b></th>
                          </tr>
                        </thead>
                        {%for itemcharge in itemcharges%}
                        <tr>
                          <td>{{itemcharge.item_charges_id}}</td>	
                          <td>{{itemcharge.item_id}}</td>                         
                          <td>{{itemcharge.service_type_id}}</td>
                          <td>{{itemcharge.charges}}</td>
                          <td>{{itemcharge.unit_id}}</td>
                          <td>{{itemcharge.service_for_id}}</td>
                          <td><a href="/deleteicharges/{{itemcharge.item_charges_id}}"><button type="button" class="btn btn-primary mr-2">Delete</button></a><a href="/itemchargesupdate/{{itemcharge.item_charges_id}}"><button type="button" class="btn btn-sm btn-danger">Edit</button></a>
                          {% comment %} <a href="/bookingdetail/{{itemcharge.booking_id}}/"><button type="button" class="btn btn-primary mr-2">Details</button></a></td> {% endcomment %}
                        </tr>
                        {%endfor%}
                      </table>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
          <!-- content-wrapper ends -->
        </div>
        {% endblock%}